<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="border-round m-2 text-center p-2">
                <div style="display: flex; justify-content: center">
                        <p-avatar
                            size="xlarge"
                            icon="pi pi-user"
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                            shape="circle" />
                </div>
                <hr/>
                <span class="block text-500 font-medium mb-3">{{ username }}</span>
                <span class="block text-500 font-medium mb-3">{{ fullName }}</span>
                <span class="block text-500 font-medium mb-3">{{ email }}</span>
                <span
                    class="block text-500 text-{{ emailVerified ? 'green' : 'red' }}-500 font-medium mb-3">{{ 'lang.email' | translate }} {{ emailVerified ? ('lang.verified' | translate) : ('lang.notVerified' | translate) }}</span>
                <div *ngFor="let rol of roles">
                    <p-tag severity="{{randomSeverity}}" value="{{rol}}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-9">
        <p-toast />
        <div class="card">
            <h5>{{ 'lang.editProfile' | translate }}</h5>
                <div class="p-fluid">
                    <div class="field">
                        <label htmlFor="username">{{ 'lang.username' | translate }}</label>
                        <input [required]="true" [(ngModel)]="userForm.username" [disabled]="true" pInputText id="username" type="text"/>
                    </div>
                    <div class="field">
                        <label htmlFor="firstname">{{ 'lang.firstname' | translate }}</label>
                        <input [(ngModel)]="userForm.firstName" pInputText id="firstname" type="text"/>
                    </div>
                    <div class="field">
                        <label htmlFor="lastname">{{ 'lang.lastName' | translate }}</label>
                        <input [(ngModel)]="userForm.lastName" pInputText id="lastname" type="text"/>
                    </div>
                    <div class="field">
                        <label htmlFor="email">{{ 'lang.email' | translate }}</label>
                        <input [(ngModel)]="userForm.email" pInputText id="email" type="email"/>
                    </div>
                    <div class="field">
                        <label htmlFor="password">{{ 'lang.password' | translate }}</label>
                        <p-password id="password" [(ngModel)]="passwordField[0]"
                                    [toggleMask]="true"
                                    class="{{writeColorsForInvalidPassword()}}">
                            <ng-template pTemplate="header">
                                <h6>{{ 'lang.pickAPassword' | translate }}</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider />
                                <p class="mt-2">{{ 'lang.suggestions' | translate }}</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>{{ 'lang.atLeastOneLowercase' | translate }}</li>
                                    <li>{{ 'lang.atLeastOneUppercase' | translate }}</li>
                                    <li>{{ 'lang.atLeastOneNumeric' | translate }}</li>
                                    <li>{{ 'lang.minimumCharacters' | translate }}</li>
                                </ul>
                            </ng-template>
                        </p-password>

                    </div>
                    <div class="field">
                        <label htmlFor="repassword">{{ 'lang.retypePassword' | translate }}</label>
                        <p-password id="repassword" [(ngModel)]="passwordField[1]"
                                    [toggleMask]="true"
                                    class="{{writeColorsForInvalidPassword()}}">
                            <ng-template pTemplate="header">
                                <h6>{{ 'lang.pickAPassword' | translate }}</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider />
                                <p class="mt-2">{{ 'lang.suggestions' | translate }}</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>{{ 'lang.atLeastOneLowercase' | translate }}</li>
                                    <li>{{ 'lang.atLeastOneUppercase' | translate }}</li>
                                    <li>{{ 'lang.atLeastOneNumeric' | translate }}</li>
                                    <li>{{ 'lang.minimumCharacters' | translate }}</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
<!--                    <div class="field">-->
<!--                        <label htmlFor="selectRole">Role</label>-->
<!--                        <p-multiSelect [options]="rolesList" id="selectRole" [(ngModel)]="rolesSelected"-->
<!--                                       placeholder="Select the Roles" optionLabel="" class="multiselect-custom"-->
<!--                                       display="chip">-->
<!--                            <ng-template let-availRole pTemplate="item">-->
<!--                                <div class="flex align-items-center">-->
<!--                                    <span class="ml-2">{{ availRole }}</span>-->
<!--                                </div>-->
<!--                            </ng-template>-->
<!--                        </p-multiSelect>-->
<!--                    </div>-->
                </div>
                <div class="flex align-items-end justify-content-end">
                    <button [disabled]="!validatePasswords()" (click)="updateProfile()" pButton pRipple type="button" icon="pi pi-save" label="Save"></button>
                </div>
        </div>
    </div>


</div>
