<p-toast />
<div class="card">
    <div class="grid">
        <div class="col-12 md:col-12">
            <h5>Cambio de Lote</h5>
            <br/>
            <div class="p-fluid grid formgrid">
                <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                    <span class="p-float-label">
				       <p-multiSelect
                           id="loteActual"
                           [options]="loteList"
                           optionLabel="name"
                           [(ngModel)]="prevLoteSelected"
                           (onChange)="searchTagsByLote(); validateIfLoteSelectedIsNotEquals()"
                           class="{{invalidClass}}"
                           [filter]="true"
                           [selectionLimit]="1"
                           placeholder="Select Cities" />
				        <label for="loteActual">Lote Actual</label>
			        </span>
                </div>
                <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                    <span class="p-float-label">
				        <p-multiSelect
                            id="nuevoLote"
                            [options]="loteList"
                            (onChange)="validateIfLoteSelectedIsNotEquals()"
                            optionLabel="name"
                            class="{{invalidClass}}"
                            [(ngModel)]="newLoteSelected"
                            [filter]="true"
                            [selectionLimit]="1"
                            placeholder="Select Cities" />
				        <label for="nuevoLote">Nuevo Lote</label>
			        </span>
                </div>
                <div class="col-12 mg-2 lg:col-2 lg:mb-0">
                    <p-toggleButton
                        (onChange)="searchTagsByLote(); validateIfLoteSelectedIsNotEquals()"
                        [(ngModel)]="isLlenado"
                        onLabel="Llenado"
                        offLabel="Vaciado"
                        onIcon="pi pi-download"
                        offIcon="pi pi-upload"
                        styleClass="w-9rem"
                        ariaLabel="Do you confirm" />
                </div>
            </div>

            <br/>
            <br/>
            <br/>

            <div class="grid formgrid">
                <div class="col-12 mb-12 lg:col-12 lg:mb-0">
                    <p-pickList
                        [source]="availableTags"
                        [target]="selectedTags"
                        sourceHeader="Tags disponibles"
                        targetHeader="Tags seleccionados"
                        [dragdrop]="true"
                        [responsive]="true"
                        [sourceStyle]="{ height: '40rem' }"
                        [targetStyle]="{ height: '40rem' }"
                        filterBy="name"
                        sourceFilterPlaceholder="Buscar"
                        targetFilterPlaceholder="Buscar"
                        breakpoint="1400px">
                        <ng-template let-tag pTemplate="item">
                            <div class="flex flex-wrap p-2 align-items-center gap-3">
                                <div style="padding: 5px" class="shadow-2 border-round">
                                    <span class="pi pi-box text-2xl"></span>
                                </div>
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">{{ tag.name }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>

            <br/>
            <div class="flex align-items-end justify-content-end">
                <p-button (click)="execute()" [disabled]="isFormInvalid" icon="pi pi-sync" label="Ejecutar"></p-button>
            </div>
        </div>
    </div>
</div>
