<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>EkinDB - Review</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
<!--        <button class="p-link layout-topbar-button"-->
<!--                pTooltip="Calendar"-->
<!--                tooltipPosition="bottom">-->
<!--            <i class="pi pi-calendar"></i>-->
<!--            <span>Calendar</span>-->
<!--        </button>-->
        <p-dropdown
            [options]="countries"
            [(ngModel)]="selectedCountry"
            optionLabel="name"
            (onChange)="changeLanguage()"
            [showClear]="false">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                    <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
                        style="width: 18px" />
                    <div>{{ selectedCountry.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + country.code.toLowerCase()"
                        style="width: 18px" />
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>

        <button *ngIf="isLoggedIn" class="p-link layout-topbar-button"
                pTooltip="{{'lang.profile' | translate}}"
                [routerLink]="['/profile']"
                tooltipPosition="bottom">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button *ngIf="isLoggedIn" class="p-link layout-topbar-button"
                (click)="logout()"
                pTooltip="{{'lang.logout' | translate}}"
                tooltipPosition="bottom">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
        <button *ngIf="!isLoggedIn" class="p-link layout-topbar-button"
                (click)="login()"
                pTooltip="{{'lang.login' | translate}}"
                tooltipPosition="bottom">
            <i class="pi pi-sign-in"></i>
            <span>Login</span>
        </button>
    </div>
</div>
