<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{'lang.totalPalletsProcessed' | translate}}</span>
                    <div class="text-900 font-medium text-xl">{{ cantPesadasLastVersion == "" ? ('lang.loading' | translate) : cantPesadasLastVersion }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-box text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+{{ cantPesadasLastRevision == "" ? ('lang.loading' | translate) : cantPesadasLastRevision }} </span>
            <span class="text-500">{{'lang.fromLastVersion' | translate}} <br/></span>
            <span class="text-green-500 font-medium">+{{ cantPesadasToday == "" ? ('lang.loading' | translate) : cantPesadasToday }} </span>
            <span class="text-500">{{'lang.today' | translate}}</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{'lang.processedBatches' | translate}}</span>
                    <div class="text-900 font-medium text-xl">{{ cantLotesProcesados == "" ? ('lang.loading' | translate) : cantLotesProcesados }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+{{ cantLotesProcesadosUltimaRevision == "" ? ('lang.loading' | translate) : cantLotesProcesadosUltimaRevision }} </span>
            <span class="text-500"> {{'lang.fromLastVersion' | translate}}  <br/></span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"> {{'lang.errorsDetectedInTags' | translate}}</span>
                    <div class="text-900 font-medium text-xl">{{ cantErrorTag == "" ? ('lang.loading' | translate) : cantErrorTag }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-{{errorType}}-500 font-medium">{{ cantNewErrors == "" ? ('lang.loading' | translate) : cantNewErrors }}  </span>
            <span class="text-500">{{'lang.fromLastVersion' | translate}}</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{'lang.batchesWithErrors' | translate}}</span>
                    <div class="text-900 font-medium text-xl">{{ cantLotesConErrores == "" ? ('lang.loading' | translate) : cantLotesConErrores }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-red-500 font-medium">{{ cantLotesConErroresUltimaVersion == "" ? ('lang.loading' | translate) : cantLotesConErroresUltimaVersion }} </span>
            <span class="text-500">{{'lang.fromLastVersion' | translate}}</span>
        </div>
    </div>

    <div class="col-12 xl:col-8">
        <div class="card">
            <h5>{{'lang.toFully' | translate}} vs {{'lang.toEmpty' | translate}}</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 xl:col-4">
        <div class="card p-fluid">
            <h5>{{'lang.pendingTaskHeader' | translate}}</h5>
            <span class="text-500">{{'lang.pendingTaskBody' | translate}}</span>
        </div>
    </div>
</div>

